.Hint {
  display: flex;
  align-items: center;

  &-icon {
    display: flex;
    margin-right: scale(20);

    svg {
      width: scale(65);
      height: scale(65);
    }
  }

  &-message {
    max-width: scale(210);
  }
}