.Hint {
  display: flex;
  align-items: center;

  &-icon {
    display: flex;
    margin-right: scale(20);

    svg {
      width: scale(65);
      height: scale(65);

      @include mobile {
        width: scale(50);
        height: scale(50);
      }
    }
  }

  &-message {
    max-width: scale(210);

    @include mobile {
      max-width: scale(175);
    }
  }
}