@import '../../../styles/common/constants.scss';
@import '../../../styles/common/mixins.scss';

.space-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  &__planets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    g {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__multi-star {
    position: absolute;
    left: scale(90);
    bottom: scale(314);
    display: flex;

    @include mobile {
      bottom: scale(-20);
      left: scale(116);
    }

    svg {
      width: scale(72);
      height: scale(72);

      @include desktop {
        width: scale(50);
        height: scale(50);
      }

      @include mobile {
        width: scale(50);
        height: scale(50);
      }
    }
  }

  &__moon {
    position: absolute;
    top: scale(142);
    left: scale(356);

    @include desktop {
      top: scale(113);
      left: scale(285);
    }

    @include mobile {
      display: none;
    }

    svg {
      width: scale(44);
      height: scale(44);

      @include desktop {
        width: scale(30);
        height: scale(30);
      }
    }
  }

  &__saturn {
    position: absolute;
    top: scale(147);
    right: scale(567);

    @include desktop {
      top: scale(116);
      right: scale(460);
    }

    @include mobile {
      top: unset;
      bottom: scale(20);
      right: scale(-60);
    }

    svg {
      width: scale(106);
      height: scale(75);

      @include desktop {
        width: scale(79);
        height: scale(56);
      }

      @include mobile {
        width: scale(179);
        height: scale(126);
      }
    }
  }

  &__neptun {
    position: absolute;
    bottom: scale(125);
    left: scale(127);

    @include desktop {
      bottom: scale(60);
      left: scale(77);
    }

    @include mobile {
      bottom: scale(90);
      left: scale(52);
    }

    svg {
      width: scale(126);
      height: scale(126);

      @include desktop {
        width: scale(90);
        height: scale(90);
      }

      @include mobile {
        width: scale(67);
        height: scale(67);
      }
    }
  }

  &__stars {
    width: 100%;
    height: 100%;
    padding: scale(20);

    @include desktop {
      padding: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include mobile {
        object-fit: cover;
        object-position: left;
      }
    }
  }

  &__filled-star {
    position: absolute;
    display: flex;

    svg {
      width: scale(24);
      height: scale(24);

      @include desktop {
        width: scale(20);
        height: scale(20);
      }
    }

    path {
      fill: $c-brown;
    }

    &--white {
      animation: 6s linear infinite alternate scaleUpStar;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: scale(10);
        height: scale(10);
        background-color: #fff;
        border-radius: 50%;
        filter: blur(scale(5));
  
        @include desktop {
          width: scale(8);
          height: scale(8);
        }
      }

      &::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: 3s linear infinite alternate scaleUpGlow;
      }

      &:after {
        width: scale(8);
        height: scale(8);
        top: 0;
        left: 0;
        animation: 5s linear infinite alternate slideAround;
        transition: all ease .3s;
      }

      path {
        fill: $c-white;
      }
    }

    &--first {
      top: scale(142);
      left: scale(595);

      @include desktop {
        top: scale(100);
        left: scale(440);
      }

      @include mobile {
        display: none;
      }
    }

    &--second {
      top: scale(176);
      left: scale(68);

      &::before,
      &::after,
      path {
        animation-delay: 0.3s;
      }

      @include desktop {
        top: scale(158);
        left: scale(60);
      }

      @include mobile {
        top: scale(64);
        left: scale(197);
      }
    }

    &--third {
      top: scale(152);
      right: scale(842);

      @include desktop {
        top: scale(130);
        right: scale(625);
      }

      @include mobile {
        display: none;
      }
    }

    &--fourth {
      top: scale(237);
      right: scale(350);

      &::before,
      &::after,
      path {
        animation-delay: 0.5s;
      }

      @include desktop {
        top: scale(170);
        right: scale(255);
      }

      @include mobile {
        top: scale(203);
        right: scale(29);
      }
    }

    &--fifth {
      top: scale(436);
      right: scale(68);

      &::before,
      &::after,
      path {
        animation-delay: 0.1s;
      }

      @include desktop {
        top: scale(315);
        right: scale(30);
      }

      @include mobile {
        top: unset;
        bottom: scale(107);
        right: scale(111);
      }
    }

    &--sixth {
      bottom: scale(388);
      left: scale(148);

      @include desktop {
        bottom: scale(260);
        left: scale(50);
      }

      @include mobile {
        display: none;
      }
    }

    &--seventh {
      bottom: scale(73);
      left: scale(267);

      &::before,
      path {
        animation-delay: 0.2s;
      }

      @include desktop {
        bottom: scale(157);
        left: scale(890);
      }

      @include mobile {
        display: none;
      }
    }

    &--eihgth {
      bottom: scale(24);
      left: scale(860);

      @include desktop {
        bottom: scale(55);
        left: scale(650);
      }
    }

    &--ninth {
      bottom: scale(169);
      right: scale(649);

      @include desktop {
        display: none;
      }
    }

    &--tenth {
      bottom: scale(90);
      right: scale(68);

      &::before {
        animation-delay: 0.4s;
      }

      @include mobile {
        display: none;
      }
    }
  }
}

@keyframes slideAround {
  0% {
    top: 0;
    left: 0;
  }

  33% {
    top: scale(5);
    left: scale(5);
  }

  66% {
    top: 0;
    left: scale(5);
  }

  100% {
    top: scale(5);
    left: 0;
  }
}

@keyframes scaleUpGlow {
  0% {
    scale: 1
  }

  33% {
    scale: 0.9
  }

  33% {
    scale: 0.8
  }

  100% {
    scale: 1.1
  }
}

@keyframes scaleUpStar {
  0% {
    scale: 1
  }

  33% {
    scale: 0.9
  }

  66% {
    scale: 0.8
  }

  100% {
    scale: 1.1
  }
}