@import '../../../styles/common/constants';
@import '../../../styles/common/mixins';

.project-showcase {
  position: relative;

  &__banner {
    position: relative;
    width: 100%;
    height: scale(840);

    @include desktop {
      height: scale(750);
    }

    @include mobile {
      height: scale(258);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__switch {
    display: flex;
    position: absolute;
    bottom: scale(50);
    left: 0;
    right: 0;

    @include mobile {
      position: static;
      justify-content: center;
      margin-top: scale(20);
    }
  }
}