@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.ContactsPage {
  $component: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: scale(50);

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: scale(226);

    @include desktop {
      margin-top: auto;
    }

    @include mobile {
      margin-top: auto;
    }
  }

  &-subtitle {
    margin-bottom: scale(50);

    @include desktop {
      margin-bottom: scale(30);
    }

    @include mobile {
      text-align: center;
      margin-bottom: scale(30);
      max-width: scale(230);
    }
  }

  &-heading {
    position: relative;
    margin-bottom: scale(30);

    @include mobile {
      margin-bottom: scale(20);
    }
  }

  &-stars {
    position: absolute;
    display: flex;
    flex-direction: column;

    &--left {
      bottom: scale(-30);
      left: scale(-70);
      align-items: flex-start;

      @include mobile {
        left: scale(0);
        bottom: scale(-20);
      }

      #{$component}-star--filled {
        display: none;
      }
    }

    &--right {
      top: scale(-30);
      right: scale(-70);
      align-items: flex-end;

      @include mobile {
        right: scale(0);
        top: scale(-40);
      }
    }
  }

  &-star {
    &:first-child {
      margin-bottom: scale(16);

      @include mobile {
        margin-bottom: scale(8);
      }
    }

    &--outlined {
      width: scale(43);
      height: scale(43);

      @include mobile {
        width: scale(24);
        height: scale(24);
      }
    }

    &--filled {
      width: scale(20);
      height: scale(20);

      @include mobile {
        width: scale(11);
        height: scale(11);
      }
    }
  }

  &-title {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: scale(24);
      height: scale(2);
      background-color: $c-black;

      @include mobile {
        content: none;
      }
    }

    span {
      background-color: $c-gray;
      position: relative;

      @include mobile {
        background-color: none;
      }
    }
  }

  &-link {
    display: flex;
    align-items: center;
    font-family: $ff-m;
    text-transform: uppercase;
    color: $c-black;
    font-size: scale(16);

    svg {
      margin-left: scale(5);
      width: scale(18);
      height: scale(18);
    }
  }

  &-footer {
    margin-top: auto;
  }

  &-mail {
    display: flex;
    align-items: center;
    color: $c-black;
    font-family: $ff-m;
    font-size: scale(18);

    @include mobile {
      font-size: scale(14);
    } 

    &Icon {
      margin-right: scale(10);
      display: flex;
  
      svg {
        width: scale(24);
      }
    }
  }
}