@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.ContactsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: scale(50);

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: scale(226);

    @include desktop {
      margin-top: auto;
    }
  }

  &-subtitle {
    margin-bottom: scale(50);

    @include desktop {
      margin-bottom: scale(30);
    }
  }

  &-heading {
    position: relative;
    margin-bottom: scale(30);
  }

  &-stars {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: scale(60);

    &--left {
      bottom: scale(-30);
      left: scale(-70);
      align-items: flex-start;
    }

    &--right {
      top: scale(-30);
      right: scale(-70);
      align-items: flex-end;
    }
  }

  &-star {
    &:first-child {
      margin-bottom: scale(16);
    }

    &--outlined {
      width: scale(43);
      height: scale(43);
    }

    &--filled {
      width: scale(20);
      height: scale(20);
    }
  }

  &-title {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: scale(24);
      height: scale(2);
      background-color: $c-black;
    }

    span {
      background-color: $c-gray;
      position: relative;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    font-family: $ff-m;
    text-transform: uppercase;
    color: $c-black;

    svg {
      margin-left: scale(5);
      width: scale(18);
      height: scale(18);
    }
  }

  &-footer {
    margin-top: auto;
  }

  &-mail {
    display: flex;
    align-items: center;
    color: $c-black;
    font-family: $ff-m;
    font-size: scale(18);

    &Icon {
      margin-right: scale(10);
      display: flex;
  
      svg {
        width: scale(24);
      }
    }
  }
}