@import '../../../styles/common/constants';
@import '../../../styles/common/mixins';

.project-pages {
  background-color: $c-black;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include mobile {
      padding-top: scale(50);
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    padding: scale(60) 0 scale(40);

    @include mobile {
      padding: 0;
      margin-bottom: scale(40);
    }
  }

  &__title {
    color: $c-white;
    font-family: $ff-Mak-light;
    font-size: scale(150);
    line-height: 1.1;

    @include mobile {
      font-size: scale(70);
      text-align: center;
    }
  }

  &__description {
    color: $c-white;
    font-size: scale(18);
    margin-bottom: scale(30);

    @include mobile {
      font-size: scale(14);
      text-align: center;
      margin-bottom: scale(20);
    }
  }

  &__image {
    display: flex;

    img {
      height: 100%;

      @include mobile {
        width: 100%;
      }
    }
  }
}