@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.project-card {
  $component: &;

  display: flex;
  align-items: center;
  color: $c-black;

  @include hover {
    &:hover:not(.project-card--transparent) {
      .project-banner {
        background-color: $c-yellow;
      }
    }
  }

  &__cover {
    margin-right: scale(50);

    @include mobile {
      display: none;
    }
  }

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mobile {
      margin-bottom: scale(5);
    }
  }

  &__arrow {
    min-width: scale(19);
    max-width: scale(19);
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__title {
    font-family: $ff-Mak-bold;
    font-size: scale(50);
    margin-bottom: scale(10);

    @include desktop {
      font-size: scale(40);
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__year {
    display: none;
    margin-bottom: scale(10);

    @include mobile {
      display: block;
    }
  }

  &__description {
    font-family: $ff;
    font-size: scale(16);
    line-height: 1.5;

    @include desktop {
      font-size: scale(14);
    }
  }

  &__role {
    font-family: $ff-m;
    font-size: scale(18);
    margin-top: scale(30);

    @include mobile {
      display: none;
    }
  }
}