@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.RoundedPicture {
  display: flex;
  position: relative;

  @include mobile {
    justify-content: center;
  }

  &-image {
    width: scale(188);
    height: scale(220);
    overflow: hidden;
    border-top-left-radius: scale(100);
    border-top-right-radius: scale(100);
    object-fit: cover;

    @include desktop {
      width: scale(120);
      height: scale(140);
    }

    @include mobile {
      width: scale(158);
      height: scale(185);
    }
  }

  &-stars {
    position: absolute;
    top: scale(5);
    right: scale(-40);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 3;

    @include desktop {
      top: scale(-20);
      right: scale(-30);
    }

    @include mobile {
      top: scale(-20);
      right: scale(-30);
    }
  }

  &-star {
    display: flex;

    &--outlined {
      svg {
        width: scale(43);
        height: scale(43);

        @include desktop {
          width: scale(30);
          height: scale(30);
        }
      }
    }

    &--filled {
      margin-top: scale(15);

      @include desktop {
        margin-top: scale(10);
      }
      
      svg {
        width: scale(20);
        height: scale(20);

        @include desktop {
          width: scale(14);
          height: scale(14);
        }
      }
    }
  }
}