@import '../../../styles/common/constants';
@import '../../../styles/common/mixins';

.project-blocks {
  &__info {
    margin-bottom: scale(50);
  }

  &__description {
    max-width: scale(800);
    font-size: scale(18);

    @include mobile {
      font-size: scale(14);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: scale(100);

    &--two-per-row {
      grid-template-columns: repeat(2, 1fr);

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &--three-per-row {
      grid-template-columns: repeat(3, 1fr);

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &--centered {
      max-width: scale(1320);
      margin: 0 auto;
    }
  }

  &__item-head {
    display: flex;
    align-items: center;
    padding-bottom: scale(18);
    border-bottom: 1px solid $c-black;
    margin-bottom: scale(50);

    @include mobile {
      flex-direction: column;
      padding-bottom: scale(20);
      margin-bottom: scale(30);
      align-items: flex-start;
    }
  }

  &__item-title {
    font-family: $ff-m;
    font-size: scale(16);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: scale(100);
      max-width: scale(280);

      @include mobile {
        margin: {
          right: 0;
          bottom: scale(20);
        };
      }
    }
  }

  &__item-description {
    font-size: scale(16);
    max-width: scale(700);

    @include mobile {
      font-size: scale(14);
    }
  }

  &__item-image {
    max-width: 100%;
  }
}