@import './constants.scss';
@import './mixins.scss';

:root {
  --scale: 100vw / #{$sw-desktop--large};

  @include desktop {
    --scale: 100vw / #{$sw-desktop};
  }
}

body {
  font-family: $ff;
  font-size: scale(16);
  color: $c-black;
  background-color: $c-gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
}

.Container {
  max-width: scale(1600);
  padding: 0 scale(20);
  width: 100%;
  margin: 0 auto;
}