@import './constants.scss';

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
};

@function scale($size) {
  @return calc(var(--scale) * #{$size});
}

@mixin desktop--large {
  @media screen and (min-width: $bp-desktop--large) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $bp-desktop) and (max-width: ($bp-desktop--large - 1)) {
    @content;
  }
}

@mixin desktop--small {
  @media screen and (min-width: $bp-laptop) and (max-width: ($bp-desktop - 1)) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $bp-tablet) and (max-width: ($bp-laptop - 1)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $bp-mobile) and (max-width: ($bp-tablet - 1)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: ($bp-mobile - 1)) {
    @content;
  }
}

@mixin allDesktopHome {
  @media screen and (min-width: ($bp-laptop)) {
    @content;
  }
}