html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -moz-font-feature-settings: "kern";
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
    font-variant-numeric: normal;
    word-wrap: break-word;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,
button {
    outline: none;
}

a,
button,
li {
    -webkit-tap-highlight-color: transparent;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Remove arrrow from input in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

/* Remove arrrow from input in Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

input::-ms-clear {
    display: none !important;
}

input::-ms-reveal {
    display: none !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent !important;
}

label {
    background: transparent;
    box-shadow: none;
    outline: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

button,
input {
    background-color: transparent;
    border: none;
    padding: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    text-align: inherit;
    outline: none;
    border-radius: 0;
    cursor: pointer;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

svg {
    overflow: visible;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}
