@import '../../styles//common/constants.scss';
@import '../../styles//common/mixins.scss';

.about-page {
  $component: &;

  position: relative;
  overflow: hidden;
  display: flex;
  
  &--current-0 {
    @include mobile {
      padding-bottom: 0 !important;
    }
  }
  
  &--current-1 {
    @include mobile {
      padding-bottom: scale(200) !important;
    }
  }
  
  &--current-2 {
    @include mobile {
      padding-bottom: scale(200) !important;
    }
  }
  
  &--current-3 {
    @include mobile {
      padding-bottom: scale(165) !important;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__head {
    margin: scale(70) 0 scale(30);
    position: relative;
    z-index: 1;

    @include desktop {
      margin: scale(60) 0 scale(30);
    }

    @include mobile {
      margin: scale(40) 0 0;
    }
  }

  &__hidden {
    overflow: hidden;
  }

  &__row {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    &:nth-child(2) {
      margin-left: scale(160);

      @include desktop {
        margin-left: scale(120);
      }

      @include mobile {
        margin-left: 0;
      }
    }
  }

  &__title {
    transition: color ease $d-hover;
    cursor: pointer;

    &--black {
      &:hover {
        color: $c-gray;
      }
    }

    &.disabled {
      color: #7b7b7b;
    }
  }

  &__pictures {
    margin: 0 scale(105) scale(10) scale(50);

    @include desktop {
      margin: 0 scale(50) scale(10);
    }

    @include mobile {
      display: none;
    }
  }

  &__pictures-wrapper {
    display: flex;
    align-items: flex-end;

    &--single {
      @include mobile {
        justify-content: center;
        width: 100%;
      }
    }

    &:not(.about-page__pictures-wrapper--single) {
      @include mobile {
        width: 100vw;
        margin-left: -50vw;
        position: relative;
        left: 50%;
        padding: 0 scale(20);
        overflow-x: auto;
        scrollbar-width: none;
        margin-top: scale(20);
  
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  &__mobile-pictures {
    display: none;

    &:not(:empty) {
      @include mobile {
        display: flex;
        flex: 1;
      }
    }
  }

  &__picture {
    position: relative;

    &:not(:last-child) {
      margin-right: scale(50);

      @include desktop {
        margin-right: scale(30);
      }

      @include mobile {
        margin-right: scale(30);
      }
    }

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }

    &--changed {
      #{$component}__picture-cover {
        display: none;
      }
    }
  }

  &__picture-cover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: $c-gray;
    z-index: 2;
  }

  &__hint {
    @include mobile {
      display: none !important;
    }
  }

  &__mobile-hint {
    display: none;

    @include mobile {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__text {
    max-width: scale(699);
    margin-left: scale(160);

    &:not(:empty):not(:last-child) {
      margin-bottom: scale(30);
    }

    @include desktop {
      margin-left: scale(120);
      max-width: scale(600);
    }

    @include mobile {
      margin-left: 0;
    }
  }

  &__paragraph {
    line-height: 1.5;

    @include desktop {
      font-size: scale(14);
    }

    &:not(:last-child) {
      margin-bottom: scale(20);
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      display: none;
    }
  }
}