@import './constants.scss';
@import './mixins.scss';

:root {
  --scale: 100vw / #{$sw-desktop--large};

  @include desktop {
    --scale: 100vw / #{$sw-desktop};
  }

  @include mobile {
    --scale: 100vw / #{$sw-mobile};
  }
}

body {
  font-family: $ff;
  font-size: scale(16);
  color: $c-black;
  background-color: $c-gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include mobile {
    font-size: scale(14);
  }
}

#root {
  flex: 1;
}

.container {
  max-width: scale(1600);
  padding: {
    left: scale(20);
    right: scale(20);
  } 
  width: 100%;
  margin: {
    left: auto;
    right: auto;
  }

  @include desktop {
    padding: {
      left: scale(50);
      right: scale(50);
    } 
  }

  @include mobile {
    padding: {
      left: scale(20);
      right: scale(20);
    } 
  }
}

.page {
  flex: 1;
  padding: {
    top: scale(120);
    bottom: scale(50);
  };

  @include mobile {
    padding: {
      top: scale(80);
      bottom: scale(20);
    } 
  }
}