// Colors
$c-white: #FFFFFF;
$c-gray: #F6F6F6;
$c-black: #222222;
$c-brown: #413831;
$c-yellow: #EDC279;

// Fonts
$ff: 'Montserrat-Regular', sans-serif;
$ff-m: 'Montserrat-Medium', sans-serif;
$ff-b: 'Montserrat-Bold', sans-serif;
$ff-Mak: 'Mak', sans-serif;
$ff-Mak-bold: 'Mak-bold', sans-serif;
$ff-Mak-light: 'Mak', sans-serif;

// Screen Widths
$sw-desktop--large: 1920;
$sw-desktop: 1440;
$sw-desktop--small: 1200;
$sw-laptop: 960;
$sw-tablet: 768;
$sw-mobile: 360;


// Breakpoint
$bp-desktop--large: 1920px;
$bp-desktop: 1440px;
$bp-desktop--small: 1200px;
$bp-laptop: 960px;
$bp-tablet: 768px;
$bp-mobile: 360px;

// Durations
$d-hover: 0.3s;