@font-face {
  font-family: 'Mak';
  src: 
    url("../../assets/fonts/Mak/MAK.eot") format("embedded-opentype"), 
    url("../../assets/fonts/Mak/MAK.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mak-bold';
  src: 
    url("../../assets/fonts/Mak/MAK-bold.eot") format("embedded-opentype"), 
    url("../../assets/fonts/Mak/MAK-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}