.Title {
  font-family: $ff-Mak;
  font-size: scale(200);
  color: $c-black;
  line-height: 1.1;

  @include desktop {
    font-size: scale(150);
  }
}

.Title-second {
  font-family: $ff-Mak;
  font-size: scale(150);
  line-height: 1.1;

  @include desktop {
    font-size: scale(120);
  }
}