.title {
  font-family: $ff-Mak;
  font-size: scale(200);
  color: $c-black;
  line-height: 1.1;

  @include desktop {
    font-size: scale(150);
  }

  @include mobile {
    font-size: scale(70);
  }
}

.title-second {
  font-family: $ff-Mak;
  font-size: scale(150);
  line-height: 1.1;

  @include desktop {
    font-size: scale(120);
  }

  @include mobile {
    font-size: scale(70);
  }
}

.title-third {
  font-family: $ff-Mak;
  font-size: scale(100);
  line-height: 1.1;

  @include mobile {
    font-size: scale(40);
  }
}