@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.projects-page {
  $component: &;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: auto;

  @include mobile {
    margin-top: 0;
    justify-content: flex-start;
    padding-bottom: 0 !important;
  }

  &__slider {
    .swiper {
      width: 100%;
      overflow: visible;
    }

    .swiper-wrapper {
      padding-bottom: scale(80);
    }

    .swiper-scrollbar {
      height: scale(2);
      background-color: #DADADA;
      max-width: scale(200);
    }

    .swiper-scrollbar-drag {
      height: scale(2);
      background-color: $c-black;
    }
  }

  &__amount {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: $ff-m;
    font-size: scale(16);
  }

  &__card {
    @include mobile {
      padding: scale(20);
    }

    &:first-child {
      @include mobile {
        padding-top: 0;
      }
    }

    &:not(:last-child) {
      @include mobile {
        border-bottom: 1px solid $c-black;
      }
    }
  }

  &__more {
    margin-top: scale(30);
    padding: {
      left: scale(20);
      right: scale(20);
    }
  }
}

.project-more {
  padding: scale(20) scale(40);
  border: 1px solid $c-black;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: scale(120);
    margin-bottom: scale(20);
  }

  &__title {
    font-family: $ff-Mak-bold;
    font-size: scale(25);
    margin-bottom: scale(10);
    text-align: center;
  }

  &__description {
    text-align: center;
  }
}