@import '../../../styles/common/constants.scss';
@import '../../../styles/common/mixins.scss';

.design-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  &__circle {
    border: 1px solid $c-black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: scale(46);
    height: scale(46);
    position: absolute;

    @include desktop {
      width: scale(32);
      height: scale(32);
    }

    &--large {
      width: scale(154);
      height: scale(154);

      @include desktop {
        width: scale(103);
        height: scale(103);
      }
    }

    &--medium {
      width: scale(93);
      height: scale(93);

      @include desktop {
        width: scale(62);
        height: scale(62);
      }
    }
  }

  &__ae {
    top: scale(188);
    left: scale(909);

    @include desktop {
      top: scale(128);
      left: scale(661);
    }

    @include mobile {
      width: scale(22);
      height: scale(22);
      top: scale(94);
      left: scale(330);
    }

    svg {
      width: scale(70);
      height: scale(43);

      @include desktop {
        width: scale(47);
        height: scale(29);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__premier {
    top: scale(318);
    left: scale(1087);

    @include desktop {
      top: scale(218);
      left: scale(780);
    }

    @include mobile {
      width: scale(46);
      height: scale(46);
      top: scale(204);
      left: scale(340);
    }

    svg {
      width: scale(33);
      height: scale(26);

      @include desktop {
        width: scale(22);
        height: scale(17);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__blender {
    top: scale(210);
    right: scale(160);

    @include desktop {
      top: scale(139);
      right: scale(50);
    }

    @include mobile {
      width: scale(22);
      height: scale(22);
      top: scale(320);
      left: scale(-11);
    }

    svg {
      width: scale(79);
      height: scale(79);

      @include desktop {
        width: scale(53);
        height: scale(53);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__ps {
    top: scale(685);
    right: scale(538);

    @include desktop {
      top: scale(528);
      right: scale(378);
    }

    @include mobile {
      width: scale(80);
      height: scale(80);
      top: scale(657);
      left: scale(-35);
    }

    svg {
      width: scale(47);
      height: scale(47);

      @include desktop {
        width: scale(32);
        height: scale(32);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__figma {
    bottom: scale(30);
    right: scale(631);

    @include desktop {
      bottom: scale(64);
      right: scale(440);
    }

    @include mobile {
      width: scale(200);
      height: scale(200);
      bottom: unset;
      top: scale(670);
      right: scale(-40);
    }

    svg {
      width: scale(74);
      height: scale(74);

      @include desktop {
        width: scale(59);
        height: scale(50);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__ai {
    top: scale(577);
    left: scale(179);

    @include desktop {
      top: scale(402);
      left: scale(80);
    }

    @include mobile {
      display: none;
    }

    svg {
      width: scale(33);
      height: scale(27);

      @include desktop {
        width: scale(22);
        height: scale(18);
      }
    }
  }

  &__top {
    top: scale(187);
    left: scale(-23);

    @include desktop {
      top: scale(148);
      left: scale(-16);
    }
  }

  &__middle {
    top: scale(705);
    left: scale(133);

    @include desktop {
      top: scale(488);
      left: scale(50);
    }
  }

  &__bottom {
    bottom: scale(-100);
    left: scale(83);

    @include desktop {
      bottom: scale(-50);
      left: scale(103);
    }
  }

  &__top,
  &__middle,
  &__bottom {
    @include mobile {
      display: none;
    }
  }
}