@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.Header {
  $component: &;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: scale(50) 0;
  z-index: 2;

  &--black {
    #{$component}-logo,
    #{$component}-text,
    #{$component}-social {
      color: $c-gray;
    }

    #{$component}-star {
      path {
        fill: $c-gray;
      }
    }

    #{$component}-icon {
      path {
        stroke: $c-gray;
      }
    }
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: scale(10);
  }

  &-links {
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: flex-end;
    }
  }

  &-logo {
    color: $c-black;
    font-family: $ff-b;
    text-transform: uppercase;
    transition: color ease $d-hover;
  }

  &-link {
    display: flex;
    align-items: center;

    &:last-child {
      #{$component}-star {
        display: none;
      }
    }

    @include hover {
      &:hover:not(.active) {
        #{$component}-icon {
          opacity: 1;

          path {
            animation: dash 0.5s ease-in-out;
          }
        }
      }
    }

    &.active {
      #{$component}-icon {
        opacity: 1;
      }
    }
  }

  &-star {
    display: flex;
    margin: 0 scale(20);

    svg {
      width: scale(15);
      height: scale(15);
    }
  }

  &-text {
    font-family: $ff-m;
    color: $c-black;
    text-transform: uppercase;
    position: relative;
    transition: color ease $d-hover;
  }

  &-icon {
    position: absolute;
    left: scale(10);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity ease $d-hover;
    opacity: 0;

    svg {
      width: scale(74);
    }

    path {
      stroke-dasharray: 320;
      stroke-dashoffset: 0;
    }
  }

  &-social {
    font-family: $ff-m;
    color: $c-black;
    position: relative;
    transition: color ease $d-hover;

    svg {
      width: scale(74);
    }

    &:not(:last-child) {
      margin-right: scale(30);
    }

    @include hover {
      &:hover {
        #{$component}-icon {
          opacity: 1;

          path {
            animation: dash 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}