@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.Header {
  $component: &;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: scale(50) 0;
  z-index: 2;
  border-bottom: 1px solid transparent;
  transition: padding ease $d-hover, border-color ease $d-hover;

  @include desktop {
    padding: scale(30) 0;
  }

  @include mobile {
    padding: scale(16) 0;
  }

  &--black {
    #{$component}-logo,
    #{$component}-text,
    #{$component}-social {
      color: $c-gray;
    }

    #{$component}-star {
      path {
        fill: $c-gray;
      }
    }

    #{$component}-icon {
      path {
        stroke: $c-gray;
      }
    }

    #{$component}-buttonLine {
      background-color: $c-white;
    }
  }

  &--active {
    background-color: rgba($c-gray, 0.5);
    backdrop-filter: blur(10px);
    padding: scale(20) 0;
    border-color: #DADADA;

    &.Header--black {
      background-color: rgba($c-black, 0.5);
      border-color: #3f3f3f;
    }
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: scale(10);

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-column {
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: flex-end;
    }
  }

  &-navigation,
  &-socials {
    @include mobile {
      display: none;
    }
  }

  &-logo {
    color: $c-black;
    font-family: $ff-b;
    text-transform: uppercase;
    transition: color ease $d-hover;
    font-size: scale(16);
  }

  &-link {
    display: flex;
    align-items: center;
    color: $c-black;

    &:last-child {
      #{$component}-star {
        display: none;
      }
    }

    @include hover {
      &:hover:not(.active) {
        #{$component}-icon {
          opacity: 1;

          path {
            animation: dash 0.5s ease-in-out;
          }
        }
      }
    }

    &.active {
      #{$component}-icon {
        opacity: 1;
      }
    }
  }

  &-star {
    display: flex;
    margin: 0 scale(20);

    svg {
      width: scale(15);
      height: scale(15);
    }
  }

  &-text {
    font-family: $ff-m;
    color: $c-black;
    text-transform: uppercase;
    position: relative;
    transition: color ease $d-hover;
  }

  &-icon {
    position: absolute;
    left: scale(10);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity ease $d-hover;
    opacity: 0;

    svg {
      width: scale(74);
    }

    path {
      stroke-dasharray: 320;
      stroke-dashoffset: 0;
    }
  }

  &-social {
    font-family: $ff-m;
    color: $c-black;
    position: relative;
    transition: color ease $d-hover;

    svg {
      width: scale(74);
    }

    &:not(:last-child) {
      margin-right: scale(30);
    }

    @include hover {
      &:hover {
        #{$component}-icon {
          opacity: 1;

          path {
            animation: dash 0.5s ease-in-out;
          }
        }
      }
    }
  }

  &-mobile {
    display: none;

    @include mobile {
      display: flex;
    }
  }

  &-button {
    width: scale(33);
    height: scale(33);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: scale(5);

    &--active {
      #{$component}-buttonLine {
        &:first-child {
          transform: rotate(45deg) translate(scale(3), scale(3));
        }
  
        &:last-child {
          transform: rotate(-45deg) translate(scale(2), scale(-2));
        }
      }
    }

    &Line {
      width: 100%;
      height: scale(2);
      background-color: $c-black;
      transition: transform ease $d-hover;
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}