@import '../../../styles/common/constants';
@import '../../../styles/common/mixins';

.project-userflow {
  &__title {
    margin-bottom: scale(20);
  }

  &__description {
    font-size: scale(18);
  }

  &__info {
    margin-bottom: scale(100);
  }

  &__image {
    width: 100%;

    img {
      max-width: 100%;
    }
  }
}