@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.circle-button {
  $component: &;

  width: scale(225);
  height: scale(225);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $c-black;
  transition: background-color ease $d-hover;

  @include desktop {
    width: scale(178);
    height: scale(178);
  }

  @include mobile {
    width: scale(176);
    height: scale(176);
  }

  &::before {
    content: '';
    position: absolute;
    border: 1px solid $c-white;
    top: scale(12);
    left: scale(12);
    bottom: scale(12);
    right: scale(12);
    border-radius: 50%;
    transition: border-color ease $d-hover;

    @include mobile {
      border-width: 2px;
      top: scale(9);
      left: scale(9);
      bottom: scale(9);
      right: scale(9);
    }
  }

  &--black {
    background-color: $c-white;

    &::before {
      border-color: $c-black;
    }

    #{$component}__text {
      color: $c-black;
    }
  }

  &__text {
    color: $c-white;
    font-family: $ff-b;
    font-size: scale(18);
    text-transform: uppercase;
    text-align: center;
    transform: rotate(10deg);
    max-width: scale(150);
    line-height: 1.3;
    transition: color ease $d-hover;

    @include desktop {
      font-size: scale(14);
    }

    @include mobile {
      font-size: scale(14);
    }
  }
}