@import '../../styles/common/constants';
@import '../../styles/common/mixins';

.status {
  display: flex;
  align-items: center;

  &__icon {
    width: scale(15);
    height: scale(15);
    margin-right: scale(10);
  }

  &__text {
    font-size: scale(16);
  }
}