@import '../../styles/common/constants';
@import '../../styles/common/mixins';

.ProjectPage {
  &-section {
    margin-bottom: scale(200);

    @include desktop {
      margin-bottom: scale(180);
    }
  }

  &-title {
    font-family: $ff-Mak;
    font-size: scale(100);
  }
}

.ProjectHero {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: scale(50);

  &-banner {
    margin-right: scale(150);

    @include desktop {
      margin-right: scale(100);
    }
  }

  &-name {
    font-family: $ff-Mak-light;
    font-size: scale(150);
    line-height: 1.1;
    margin-bottom: scale(10);

    @include desktop {
      font-size: scale(120);
    }
  }

  &-status {
    margin-bottom: scale(100);

    @include desktop {
      margin-bottom: scale(80);
    }
  }

  &-description {
    max-width: scale(600);
    margin-bottom: scale(20);
  }

  &-role {
    font-family: $ff-m;
    font-size: scale(18);
  }

  &-heading {
    display: flex;
    align-items: center;
    padding-bottom: scale(20);
    border-bottom: 1px solid $c-black;

    &Text {
      text-transform: uppercase;
      font-size: scale(16);
    }
  }
}

