@import '../../styles/common/constants';
@import '../../styles/common/mixins';

.project-page {
  padding-bottom: 0 !important;
  
  &__section {
    margin-bottom: scale(200);

    @include desktop {
      margin-bottom: scale(180);
    }

    @include mobile {
      margin-bottom: scale(100);
    }
  }
}

