@import '../../styles/common/constants';
@import '../../styles/common/mixins';

.ProjectPage {
  padding-bottom: 0 !important;
  
  &-section {
    margin-bottom: scale(200);

    @include desktop {
      margin-bottom: scale(180);
    }

    @include mobile {
      margin-bottom: scale(100);
    }
  }

  &-title {
    font-family: $ff-Mak;
    font-size: scale(100);

    @include mobile {
      font-size: scale(40);
    }
  }
}

.ProjectHero {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: scale(50);

  @include mobile {
    padding: 0;
    flex-direction: column;
  }

  &-banner {
    margin-right: scale(150);

    @include desktop {
      margin-right: scale(100);
    }

    @include mobile {
      margin: {
        right: 0;
        bottom: scale(26);
      };
    }
  }

  &-info {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-name {
    font-family: $ff-Mak-light;
    font-size: scale(150);
    line-height: 1.1;
    margin-bottom: scale(10);

    @include desktop {
      font-size: scale(120);
    }

    @include mobile {
      font-size: scale(40);
      text-align: center;
      margin-bottom: scale(5);
    }
  }

  &-year {
    display: none;
    margin-bottom: scale(20);

    @include mobile {
      display: block;
    }
  }

  &-status {
    margin-bottom: scale(100);

    @include desktop {
      margin-bottom: scale(80);
    }

    @include mobile {
      margin-bottom: scale(50);
    }
  }

  &-description {
    max-width: scale(600);
    margin-bottom: scale(20);

    @include mobile {
      text-align: center;
      margin-bottom: scale(10);
    }
  }

  &-role {
    font-family: $ff-m;
    font-size: scale(18);

    @include mobile {
      font-size: scale(14);
    }
  }

  &-heading {
    display: flex;
    align-items: center;
    padding-bottom: scale(20);
    border-bottom: 1px solid $c-black;

    &Text {
      text-transform: uppercase;
      font-size: scale(16);
    }
  }
}

