@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $c-black;
  padding-bottom: scale(50);
  position: relative;
  overflow: hidden;

  @include mobile {
    padding-bottom: scale(180) !important;
  }

  &__title {
    margin: scale(120) 0 scale(50);
    position: relative;
    z-index: 1;

    @include desktop {
      margin: scale(70) 0 scale(30);
    }

    @include mobile {
      margin: scale(60) 0 scale(30);
    }

    svg {
      @include mobile {
        width: scale(250);
      }
    }
  }

  &__message {
    color: $c-gray;
    text-align: center;
    margin-bottom: scale(100);
    line-height: 1.7;
    position: relative;
    z-index: 1;

    @include mobile {
      margin-bottom: scale(50);
    }
  }

  &__link {
    position: relative;
    z-index: 1;
  }
}