@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.NotFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $c-black;
  padding-bottom: scale(50);
  position: relative;
  overflow: hidden;

  &-title {
    margin: scale(120) 0 scale(50);
    position: relative;

    @include desktop {
      margin: scale(70) 0 scale(30);
    }
  }

  &-message {
    color: $c-gray;
    text-align: center;
    margin-bottom: scale(100);
    line-height: 1.7;
    position: relative;
    z-index: 1;
  }

  &-link {
    position: relative;
    z-index: 1;
  }

  &-map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}