@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $c-black;
  padding-bottom: scale(50);
  position: relative;
  overflow: hidden;
  background: center / cover no-repeat url('../../assets/icons/space-map.svg'), 
    center / 98% no-repeat url('../../assets/images/dots.svg');

  @include mobile {
    background: center / cover no-repeat url('../../assets/icons/space-map.svg'), 
      center / 150% no-repeat url('../../assets/images/dots.svg');
  }

  &__title {
    margin: scale(120) 0 scale(50);
    position: relative;

    @include desktop {
      margin: scale(70) 0 scale(30);
    }

    @include mobile {
      margin: scale(60) 0 scale(30);
    }

    svg {
      @include mobile {
        width: scale(250);
      }
    }
  }

  &__message {
    color: $c-gray;
    text-align: center;
    margin-bottom: scale(100);
    line-height: 1.7;
    position: relative;
    z-index: 1;

    @include mobile {
      margin-bottom: scale(50);
    }
  }

  &__link {
    position: relative;
    z-index: 1;
  }

  &__star {
    position: absolute;
    width: scale(18);
    height: scale(18);

    svg {
      width: 100%;
      height: 100%;
    }

    &--white {
      path {
        fill: $c-white;
      }
    }

    &--brown {
      path {
        fill: $c-brown;
      }

      @include mobile {
        display: none;
      }
    }

    &--first {
      top: scale(252);
      left: scale(115);

      @include mobile {
        top: scale(86);
        left: scale(43);
      }
    }

    &--second {
      top: scale(98);
      right: scale(544);

      @include mobile {
        display: none;
      }
    }

    &--third {
      top: scale(556);
      left: scale(557);

      @include mobile {
        top: unset;
        left: unset;
        bottom: scale(49);
        right: scale(50);
      }
    }

    &--fourth {
      bottom: scale(206);
      left: scale(243);

      @include mobile {
        display: none;
      }
    }

    &--fifth {
      bottom: scale(69);
      left: scale(367);

      @include mobile {
        display: none;
      }
    }

    &--sixth {
      top: scale(276);
      right: scale(395);

      @include mobile {
        display: none;
      }
    }

    &--seventh {
      bottom: scale(315);
      right: scale(208);

      @include mobile {
        display: none;
      }
    }

    &--eighth {
      bottom: scale(72);
      right: scale(62);

      @include mobile {
        display: none;
      }
    }
  }

  &__multi-star {
    width: scale(72);
    position: absolute;

    @include desktop {
      width: scale(50);
    }

    @include mobile {
      width: scale(50);
    }

    &--first {
      top: scale(353);
      left: scale(355);

      @include desktop {
        top: scale(300);
        left: scale(300);
      }

      @include mobile {
        top: unset;
        bottom: scale(45);
        left: scale(15);
      }
    }

    &--second {
      top: scale(330);
      right: scale(62);

      @include desktop {
        right: scale(60);
      }

      @include mobile {
        display: none;
      }
    }

    &--third {
      bottom: scale(130);
      right: scale(591);

      @include desktop {
        bottom: scale(100);
        right: scale(470);
      }

      @include mobile {
        display: none;
      }
    }
  }
}