@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.Background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  &-circle {
    border: 1px solid $c-black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: scale(46);
    height: scale(46);
    position: absolute;

    @include desktop {
      width: scale(32);
      height: scale(32);
    }

    &--large {
      width: scale(154);
      height: scale(154);

      @include desktop {
        width: scale(103);
        height: scale(103);
      }
    }

    &--medium {
      width: scale(93);
      height: scale(93);

      @include desktop {
        width: scale(62);
        height: scale(62);
      }
    }

    &--ae {
      top: scale(188);
      left: scale(909);

      @include desktop {
        top: scale(128);
        left: scale(661);
      }

      svg {
        width: scale(70);
        height: scale(43);

        @include desktop {
          width: scale(47);
          height: scale(29);
        }
      }
    }

    &--premier {
      top: scale(318);
      left: scale(1087);

      @include desktop {
        top: scale(218);
        left: scale(780);
      }

      svg {
        width: scale(33);
        height: scale(26);

        @include desktop {
          width: scale(22);
          height: scale(17);
        }
      }
    }

    &--blender {
      top: scale(210);
      right: scale(160);

      @include desktop {
        top: scale(139);
        right: scale(50);
      }

      svg {
        width: scale(79);
        height: scale(79);

        @include desktop {
          width: scale(53);
          height: scale(53);
        }
      }
    }

    &--ps {
      top: scale(685);
      right: scale(538);

      @include desktop {
        top: scale(528);
        right: scale(378);
      }

      svg {
        width: scale(47);
        height: scale(47);

        @include desktop {
          width: scale(32);
          height: scale(32);
        }
      }
    }

    &--figma {
      bottom: scale(30);
      right: scale(631);

      @include desktop {
        bottom: scale(64);
        right: scale(440);
      }

      svg {
        width: scale(74);
        height: scale(74);

        @include desktop {
          width: scale(59);
          height: scale(50);
        }
      }
    }

    &--ai {
      top: scale(577);
      left: scale(179);

      @include desktop {
        top: scale(402);
        left: scale(80);
      }

      svg {
        width: scale(33);
        height: scale(27);

        @include desktop {
          width: scale(22);
          height: scale(18);
        }
      }
    }

    &--top {
      top: scale(187);
      left: scale(-23);

      @include desktop {
        top: scale(148);
        left: scale(-16);
      }
    }

    &--middle {
      top: scale(705);
      left: scale(133);

      @include desktop {
        top: scale(488);
        left: scale(50);
      }
    }

    &--bottom {
      bottom: scale(-100);
      left: scale(83);

      @include desktop {
        bottom: scale(-50);
        left: scale(103);
      }
    }
  }

  &-device {
    position: absolute;

    svg {
      width: 100%;
    }
  }

  &-keyboard {
    bottom: scale(70);
    left: scale(-30);
    width: scale(270);
  }

  &-headphones {
    width: scale(268);
    right: scale(522);
    bottom: scale(-20);
  }

  &-mouse {
    width: scale(262);
    top: scale(237);
    right: scale(-5);
  }

  &-spaceMap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-multiStar {
    position: absolute;
    left: scale(90);
    bottom: scale(314);

    svg {
      width: scale(72);
      height: scale(72);
    }
  }

  &-moon {
    position: absolute;
    top: scale(142);
    left: scale(356);

    svg {
      width: scale(44);
      height: scale(44);
    }
  }

  &-saturn {
    position: absolute;
    top: scale(147);
    right: scale(567);

    svg {
      width: scale(106);
      height: scale(75);
    }
  }

  &-neptun {
    position: absolute;
    bottom: scale(125);
    left: scale(127);

    svg {
      width: scale(126);
      height: scale(126);
    }
  }

  &-stars {
    width: 100%;
    height: 100%;
    padding: scale(20);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-filledStar {
    position: absolute;

    svg {
      width: scale(24);
      height: scale(24);
    }

    path {
      fill: $c-brown;
    }

    &--white {
      path {
        fill: $c-white;
      }
    }

    &--first {
      top: scale(142);
      left: scale(595);
    }

    &--second {
      top: scale(176);
      left: scale(68);
    }

    &--third {
      top: scale(152);
      right: scale(842);
    }

    &--fourth {
      top: scale(237);
      right: scale(350);
    }

    &--fifth {
      top: scale(436);
      right: scale(68);
    }

    &--sixth {
      bottom: scale(388);
      left: scale(148);
    }

    &--seventh {
      bottom: scale(73);
      left: scale(267);
    }

    &--eihgth {
      bottom: scale(24);
      left: scale(860);
    }

    &--ninth {
      bottom: scale(169);
      right: scale(649);
    }

    &--tenth {
      bottom: scale(90);
      right: scale(68);
    }
  }
}