@import '../../styles/common/constants.scss';
@import '../../styles/common/mixins.scss';

.mobile-navigation {
  $component: &;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $c-gray;
  z-index: 1;
  display: flex;

  &--black {
    background-color: $c-black;

    #{$component}__links {
      border-color: #3f3f3f;
    }

    #{$component}__link {
      &:not(:last-child) {
        border-color: #3f3f3f;
      }
    }

    #{$component}__link-icon {
      path {
        stroke: $c-gray;
      }
    }

    #{$component}__link,
    #{$component}__social {
      color: $c-white;
    }
  }

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__links {
    display: flex;
    flex-direction: column;
    border: {
      top: 1px solid #DADADA;
      bottom: 1px solid #DADADA;
    }
    margin-top: scale(70);
  }

  &__link {
    position: relative;
    text-align: center;
    padding: scale(20);
    color: $c-black;
    text-transform: uppercase;
    font-family: $ff-m;
    font-size: scale(24);

    &:not(:last-child) {
      border-bottom: 1px solid #DADADA;
    }

    &.active {
      #{$component}-linkIcon {
        display: flex;
      }
    }
  }

  &__link-icon {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: scale(110);
  }

  &__socials {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__social {
    font-family: $ff-m;
    font-size: scale(16);
    color: $c-black;

    &:not(:last-child) {
      margin-right: scale(30);
    }
  }
}